* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-family: sans-serif;
}

body {
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.default {
  background-color: rgb(146, 200, 254);
}

#page-title {
  color: white;
  text-align: center;
  margin-bottom: 15px;
}

#content-box {
  flex: 1;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: rgba(0, 0, 0, 0.25);
  text-align: center;
}

.footer-text,
.year {
  color: white;
}

.name-text,
.footer-link {
  color: rgb(0, 35, 71);
  font-weight: bold;
}

form {
  margin-bottom: 10px;
}

fieldset {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

input {
  padding-left: 5px;
  border: none;
  height: 24px;
  outline: none;
}

button {
  background-color: rgb(68, 161, 254);
  color: rgb(0, 35, 71);
  padding: 2px;
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

.white {
  color: white;
}

.space {
  padding-left: 0.25em;
}
