#info-box {
  grid-template-rows: repeat(2, 45px);
  grid-template-columns: repeat(1, 1fr) repeat(1, 2fr) repeat(1, 1fr);
  background-color: rgba(0, 0, 0, 0.25);
  padding: 10px;
}

#date-time-box {
  display: flex;
  flex-direction: column;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

#date {
  font-size: 16pt;
}

#time,
#time-text,
#sunrise-box,
#sunset-box {
  font-size: 14pt;
}

#sunrise-box,
#sunset-box {
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  justify-self: flex-end;
}

#sunset-box {
  align-self: center;
  padding-top: 10px;
}

#center-column {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

#location {
  font-size: 25pt;
  font-weight: bold;
  text-align: center;
  text-decoration: underline;
}

#description {
  font-style: italic;
  text-align: center;
  font-size: 14pt;
}

.grid {
  display: grid;
}
