#weather-container {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: rgba(128, 0, 128, 0.25);
}

.left-side {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  border: 2px dashed red;
}

.right-side {
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
}

.larger-container {
  width: 100%;
}

.medium-container {
  width: 90%;
}

.heading {
  font-weight: bold;
  text-align: center;
}

.box {
  flex-direction: column;
}

.long-box {
  flex-direction: row;
}

.box,
.long-box {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.uniform {
  width: 100%;
}

.row-1 {
  flex: 3;
  flex-direction: column;
}

.main {
  font-size: 20pt;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.italic {
  font-style: italic;
}

.row-2 {
  flex: 2;
  display: flex;
  align-items: center;
}

.min-box,
.max-box {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

.min-box {
  background-color: rgba(255, 255, 255, 0.25);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.max-box {
  background-color: rgba(0, 0, 0, 0.15);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

.temp {
  font-size: 13pt;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hour-day,
.range {
  font-size: 15pt;
}

.animated {
  width: 70%;
}

.static {
  background-color: transparent;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed white;
}
