#weather-container {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow-y: scroll;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  align-items: center;
  /*width: 200px;*/
  background-color: rgba(128, 0, 128, 0.25);
}
/*
.panel:first-child {
  align-items: flex-end;
}

.panel:last-child {
  align-items: flex-start;
}*/

.left-side,
.right-side {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 0, 0.3);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  border: 1px solid black;
}

.larger-container {
  width: 100%;
}

.small-container {
  width: 80%;
}

.medium-container {
  width: 80%;
  height: 35%;
}

.heading {
  font-weight: bold;
  text-align: center;
}

.box {
  flex-direction: column;
}

.long-box {
  flex-direction: row;
}

.box,
.long-box {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 100%;
}

.uniform {
  width: 100%;
}

.row-1 {
  flex: 3;
  flex-direction: column;
}

.main {
  font-size: 25pt;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.italic {
  font-style: italic;
}

.row-2 {
  flex: 2;
  display: flex;
  align-items: center;
}

.min-box,
.max-box {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 5px;
}

.min-box {
  background-color: rgba(255, 255, 255, 0.25);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.max-box {
  background-color: rgba(0, 0, 0, 0.15);
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
}

.temp {
  font-size: 13pt;
}

.row {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hour-day,
.range {
  font-size: 15pt;
}

#time-top {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
}

#time-title {
  text-align: center;
  grid-column: 2 / 3;
}

#hour-week {
  grid-column: 3 / 4;
  width: fit-content;
  justify-self: flex-end;
  border-radius: 20px;
  padding: 3px;
  background-color: white;
  margin-bottom: 3px;
}

.animated {
  width: 70%;
}

.static {
  background-color: transparent;
}

.column {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dashed white;
}
